<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CellphoneS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="main-menu">
                    <div class="logo">

                        <a href="index.html"><img src="img/logo3.png" alt="">
                        </a>
                    </div>

                    <div class="category">
                        <div class="icon-category">
                            <i class="fa-solid fa-rectangle-list"></i>
                        </div>
                        <div class="text-category">
                            <a href="" class="category"> Danh mục</a>
                        </div>
                    </div>


                    <div class="see-price">
                        <div class="icon-see-price">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="text-see-price">
                            <a href="" class="see-price"><span>Xem giá tại</span> <br> Hồ Chí Minh</a>
                        </div>
                    </div>

                    <div class="search">

                        <div class="input">

                            <input type="text" name="search" id="search" placeholder="Bạn cần tìm gì?">
                            <div class="icon-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>

                        </div>

                    </div>

                    <div class="phone">
                        <div class="icon-phone">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="text-phone">
                            <a href="">Gọi mua hàng <br> 1800.2097</a>
                        </div>

                    </div>

                    <div class="shop">
                        <div class="icon-shop">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="text-shop">
                            <a href="">Cửa hàng <br> gần bạn</a>
                        </div>


                    </div>

                    <div class="order-lookup">
                        <div class="icon-order-lookup">
                            <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <div class="text-order-lookup">
                            <a href="">Tra cứu <br> đơn hàng</a>
                        </div>

                    </div>

                    <div class="cart">
                        <div class="icon-cart">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>
                        <div class="text-cart">
                            <a href="">Giỏ <br> hàng</a>
                        </div>

                    </div>

                    <div class="login">
                        <div class="icon-login" align="center">
                            <i class="fa-regular fa-circle-user"></i>
                        </div>
                        <div class="text-login">
                            <a href="login.html">Đăng nhập</a>
                        </div>
                    </div>

                </div>
            </nav>
        </header>
        <section class="content">
            <div class="menu-tree">
                <div class="item">
                    <a href=""><span>Điện thoại, Tablet</span> <span><i
                                class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Latop</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Âm thanh</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Đồng hồ, Máy ảnh</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Nhà thông minh</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Phụ kiện</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>PC, Màn hình</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Tivi</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Thu cũ đổi mới</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Hàng cũ</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Khuyến mãi</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
                <div class="item">
                    <a href=""><span>Tin công nghệ</span> <span><i class="fa-solid fa-chevron-right"></i></span></a>
                </div>
            </div>
            <div class="banner">
                <a href="">
                    <img src="img/slideshow1.webp" alt="" id="slide">
                </a>
                <!-- <input type="button" value="back" onclick="back();">
                    <input type="button" value="next" onclick="next();"> -->
            </div>
            <div class="aside">
                <img src="img/banner1.webp" alt="">
                <img src="img/banner2.webp" alt="">
                <img class="banner3" src="img/banner3.webp" alt="">
            </div>

        </section>
        <section class="hotSale">
            <div align="center">
                <h2>HOTSALE CUỐI TUẦN</h2>
            </div>
            <div class="post-item">
                <div class="prod">
                    <a class="img-prod" href="iPhone14ProMax.html"><img src="img/iphone 11 64GB.webp" alt=""></a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>

                <div class="prod">
                    <a href="iPhone14ProMax.html"><img src="img/iphone 13 128GB.webp" alt=""></a>
                    <br>
                    <a href="" class="name-prod">iPhone 13 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>

                <div class="prod">
                    <a href="iPhone14ProMax.html"><img src="img/iphone 13 pro max.webp" alt=""></a>
                    <br>
                    <a href="" class="name-prod">iPhone 13 Pro Max</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>

                <div class="prod" id="prod4">
                    <a href="iPhone14ProMax.html"><img src="img/Iphone 14 128Gb màu vàng.webp" alt=""></a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>

                <div class="prod" id="prod5">
                    <a href="iPhone14ProMax.html"><img src="img/iphone 14 plus.webp" alt=""></a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Plus</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
            </div>

        </section>

        <section class="product">
            <div>
                <h2>ĐIỆN THOẠI NỔI BẬT NHẤT</h2>
            </div>

            <div class="post-item">
                <div class="prod">
                    <a href="">
                        <img src="img/iphone 14 promax.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod">
                    <a href="">
                        <img src="img/samsung1.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod">
                    <a href="">
                        <img src="img/xiaomi1.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod">
                    <a href="">
                        <img src="img/xiaomi2.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod" id="prod5">
                    <a href="">
                        <img src="img/iphone 14 plus.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
            </div>
        </section>
        <section class="laptop">
            <h2>LAPTOP</h2>
            <div class="post-item">
                <div class="row">
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop1.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop10.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop2.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop3.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod" id="prod5">
                        <a href="">
                            <img src="img/laptop5.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                </div>

                <div class="row">
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop6.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop7.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop8.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod">
                        <a href="">
                            <img src="img/laptop9.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                    <div class="prod" id="prod5">
                        <a href="">
                            <img src="img/laptop10.webp" alt="">
                        </a>
                        <br>
                        <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                        <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </span> <br>
                        <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="product">
            <div>
                <h2>MÀN HÌNH, MÁY TÍNH ĐỂ BÀN</h2>
            </div>

            <div class="post-item">
                <div class="prod">
                    <a href="">
                        <img src="img/màn hình 1.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod">
                    <a href="">
                        <img src="img/màn hình 2.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod">
                    <a href="">
                        <img src="img/màn hình 3.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod">
                    <a href="">
                        <img src="img/màn hình 4.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
                <div class="prod" id="prod5">
                    <a href="">
                        <img src="img/màn hình 5.webp" alt="">
                    </a>
                    <br>
                    <a href="" class="name-prod">iPhone 14 Pro Max 128GB</a> <br>
                    <a href="" class="price">16.990.000đ <span>18.990.000đ</span></a> <br>
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </span> <br>
                    <span class="favourite">Yêu thích <i class="fa-regular fa-heart"></i> </span>
                </div>
            </div>
        </section>

        <footer>
            <div class="generality">
                <div class="switchboard">
                    <div class="tong-dai">
                        <div class="text-title">
                            <p>Tổng đài hỗ trợ miễn phí</p>
                        </div>
                        <div class="text-content">
                            <p>Gọi bảo hành 1800.2064 (8h00 - 21h00)</p>
                            <p>Gọi mua hàng 1800.2097 (7h30 - 22h00)</p>
                            <p>Gọi khiếu nại 1800.2063 (8h00 - 21h30)</p>
                        </div>
                    </div>

                    <div class="pay">
                        <div class="text-title">
                            <p>Phương thức thanh toán</p>
                            <a href=""><img src="img/moca-grap.jpg" alt=""></a>
                            <a href=""><img src="img/ZaloPay_color_hoz.png" alt=""></a>
                            <a href=""><img src="img/vn-pay.png" alt=""></a>

                        </div>
                    </div>
                </div>

                <div class="information">
                    <div class="text-title">
                        <p>Thông tin và chính sách</p>
                    </div>
                    <div class="text-content">
                        <p>Mua hàng và thanh toán online</p>
                        <p>Mua hàng trả góp Online</p>
                        <p>Tra thông tin đơn hàng</p>
                        <p>Tra điểm Smember</p>
                        <p>Tra cứu hóa đơn điện tửz</p>
                    </div>
                </div>

                <div class="service">
                    <div class="text-title">
                        <p>Dịch vụ và thông tin khác</p>
                    </div>
                    <div class="text-content">
                        <p>Khách hàng doanh nghiệp</p>
                        <p>Chính sách bảo hành</p>
                        <p>Thanh toán</p>
                        <p>Tuyển dụng</p>
                        <p>Quy chế hoạt động</p>
                    </div>
                </div>

                <div class="connect">
                    <div class="text-title">
                        Kết nối với CellphoneS
                    </div>
                    <div class="text-content">
                        <a href=""><img style="width: 30px; height: 30px; padding-top: 5px;"
                                src="img/youtube2-removebg-preview.png" alt=""></a>
                        <a href=""><img style="width: 28px; height: 26px;" src="img/fb.png" alt=""></a>
                        <a href=""><img style="width: 25px; height: 25px;" src="img/instagram.png" alt=""></a>
                        <!-- <a href=""><img style="width: 44px; height: 28px;" src="img/tiktok-removebg-preview.png" alt=""></a> -->
                        <a href=""><img style="width: 25px; height: 25px;" src="img/zalo.png" alt=""></a>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="style.js">

    </script>
</body>

</html>